<h1>
  <img src="{{flag}}" alt="Flag image" width="24" />{{name}}
</h1>
<ul>
  <li><b>Capital{{pluralCapitals}}: </b>{{capital}}</li>
  <li><b>Population: </b>{{population}}</li>
  <li><b>Language{{pluralLanguages}}: </b>{{languages}}</li>
</ul>
